# TomTom Maps API Key
# Create a copy of this file named '.env' and fill in your actual API Key.
# Then run the application using:
# flutter run --dart-define-from-file=.env
TOMTOM_API_KEY=your_tomtom_api_key_here
